.pane{
    -fx-background-color: #99CCFF;
    -fx-background-image: url(../logo.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 300 300;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 12 pt;
}
.h2{
    -fx-font-weight: bold;
}
.h1{
    -fx-font-size: 15 pt;
    -fx-font-weight: bold;
}
.butt{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-insets: -2.5;
    -fx-background-color: #339999;
}
.butt:selected{
    -fx-background-color: #6699FF;
}
.retryButt{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-insets: -2.5;
    -fx-background-color: #339999;
    -fx-background-image: url(../retry.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:30 30;
}
.helpButt{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-insets: -2.5;
    -fx-background-color: #339999;
    -fx-background-image: url(../help.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:30 30;
}
.tf{
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-background-color: #FFFFCC;
    -fx-font-weight: bolder;
}

.combobox {
    -fx-font-weight: bolder;
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-border-insets: -2.5;
    -fx-background-color: #339999;
}

.table {
    -fx-border-color: black;
    -fx-border-width: 1.5;
}

.helpLabel{
    -fx-border-color: black;
    -fx-border-width: 1.5;
    -fx-background-color: #FFFFCC;
    -fx-font-weight: bolder;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
    -fx-opacity: 0.8;
}
.spinner{
    -fx-border-color: black;
    -fx-border-width: 1.5;
}